../
*.jar
*.class
*.log
sall
s[0-9]*
_vb
tags
.scala-build

sonatype.sbt

# classpath @files come in Windows/EverybodyElse versions
classpathAtfile*
.cache
.env
.envrc
.history
.sdkmanrc
.lib/
dist/*
target/
lib_managed/
local.conf
src_managed/
project/boot/
project/plugins/project/
project/scalafix/*
project/.sbtserver
project/.sbtserver.lock
project/project/
*.swp
*.sw?
*.semanticdb

jsrc/*.jar

.idea*

# Metals
.metals/
.bsp/
.bloop/
metals.sbt
.vscode
*Atfile
